<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/juego.css">
    <title>Inicio</title>
</head>
<body>
    <div class="container">  
        <div class="valentines">
          <div class="envelope"></div>
          <div class="card">
                <div class="text">Felíz</br> Dia de</br> San Valentin!</div>
                <div class="corazon"></div>
                <div class="corazons">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                    <div class="four"></div>
                    <div class="five"></div>
                </div>
            </div>
            <div class="front"></div>
        </div>
        <div class="shadow"></div>
    </div>
    <div class="button-container">
        <button class="joker">Haz clic aquí</button>
    </div>
    <script src="../static/js/juego.js"></script> 
</body>
</html>