*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

html, body {
    background-image: url(/static/image/fondo.jpg);
    background-size: cover;
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
}

.container {
    max-width: 350px;
    width: 90%; /* Cambiamos el ancho al 90% para hacerlo más adaptable */
    padding: 25px 20px; /* Reducimos el padding para adaptarlo mejor a pantallas pequeñas */
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    backdrop-filter: blur(8px);
}

.container h1 {
    color: white;
    text-align: center;
    margin: 20px 0 30px 0; /* Reducimos el margen inferior para ocupar menos espacio */
    position: relative;
    font-size: 1.5em; /* Cambiamos el tamaño de la fuente para que sea más legible en pantallas pequeñas */
}


.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegura que el formulario ocupe toda la altura del contenedor */
}

.container form .input-box {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    height: 10px;
    position: relative;
    margin-bottom: 20px; /* Espacio entre el input y el botón */
}

.container form .input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 8px;
}

.container form .buttonsubmit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 90%;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    color: #ff0606;
    border-radius: 20px;
}

/* Media Query para pantallas pequeñas, como dispositivos móviles */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 90%; /* Reducimos el ancho máximo para pantallas pequeñas */
    }

    .container h1 {
        font-size: 1.2em; /* Reducimos el tamaño de la fuente para pantallas pequeñas */
    }
}
